body { font-family: 'Arial', sans-serif; 
         background-color: orange;
     }

.navbar { display: flex; justify-content: space-around; }
.navbar a { text-decoration: none; color: #333; }

@media (max-width: 768px) {
    .navbar { flex-direction: column; }
}

.navbar {
    font-weight: bold;
    text-decoration: underline;
}
  
.banner {
         text-align: center;
}

.slogan {
         background-color: brown;
}
